body {
    background-image: url('images/snap2.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
}

#A {
    width: 337px;
    height: 600px;
    display: block;
    overflow: hidden;
    float: left;
    /* border: solid 1px black; */
    float: left;
    /* box-shadow: 15px 15px 50px black; */
    box-sizing: border-box;
    background-image: url('images/a.png');
    background-size: contain;
}

#B {
    float: left;
    width: 337px;
    height: 600px;
    margin-left: 120px;
    display: block;
    overflow: hidden;
    box-sizing: border-box;
    background-image: url('images/c.png');
    background-size: contain;
}

#C {
    float: left;
    width: 337px;
    height: 600px;
    margin-left: 120px;
    display: block;
    overflow: hidden;
    box-sizing: border-box;
    background-image: url('images/d.png');
    background-size: contain;
}

#D {
    float: right;
    width: 337px;
    height: 600px;
    display: block;
    overflow: hidden;
    box-sizing: border-box;
    background-image: url('images/e.png');
    background-size: contain;
}

#E {
    float: right;
    margin-right: 120px;
    width: 337px;
    height: 600px;
    display: block;
    overflow: hidden;
    box-sizing: border-box;
    background-image: url('images/f.png');
    background-size: contain;
}

#F {
    float: right;
    margin-right: 120px;
    width: 337px;
    height: 600px;
    display: block;
    overflow: hidden;
    box-sizing: border-box;
    background-image: url('images/i.png');
    background-size: contain;
}

#TOP {
    box-sizing: border-box;
    display: block;
    float: left;
    width: auto;
    margin: auto;
    overflow: hidden;
    transform: scale(1.2);
}

#BOTTOM {
    margin-top: 180px;
    margin-right: 360px;
    float: right;
    box-sizing: border-box;
    display: block;
    width: auto;
    overflow: hidden;
    transform: scale(1.2);
}

#MAIN {
    position: fixed;
    width: 100%;
    margin-top: -220px;
    margin-left: 60px;
    transform: rotate(-17deg);
}