body {
    /* background-image: url('images/snap2.jpg'); */
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
}

#bkg {
    position: fixed;
    z-index: -5;
    height: 100vh;
    width: 100%;
}

#A {
    width: 337px;
    height: 600px;
    display: block;
    overflow: hidden;
    float: left;
    /* border: solid 1px black; */
    float: left;
    /* box-shadow: 15px 15px 50px black; */
    box-sizing: border-box;
    background-image: url('images/a.png');
    background-size: contain;
}

#B {
    float: left;
    width: 337px;
    height: 600px;
    margin-left: 120px;
    display: block;
    overflow: hidden;
    box-sizing: border-box;
    background-image: url('images/c.png');
    background-size: contain;
}

#C {
    float: left;
    width: 337px;
    height: 600px;
    margin-left: 120px;
    display: block;
    overflow: hidden;
    box-sizing: border-box;
    background-image: url('images/d.png');
    background-size: contain;
}

#D {
    float: right;
    width: 337px;
    height: 600px;
    display: block;
    overflow: hidden;
    box-sizing: border-box;
    background-image: url('images/e.png');
    background-size: contain;
}

#E {
    float: right;
    margin-right: 120px;
    width: 337px;
    height: 600px;
    display: block;
    overflow: hidden;
    box-sizing: border-box;
    background-image: url('images/f.png');
    background-size: contain;
}

#F {
    float: right;
    margin-right: 120px;
    width: 337px;
    height: 600px;
    display: block;
    overflow: hidden;
    box-sizing: border-box;
    background-image: url('images/i.png');
    background-size: contain;
}

#TOP {
    box-sizing: border-box;
    display: block;
    float: left;
    width: auto;
    margin: auto;
    /*decrease value to move left*/
    margin-left: 0px;
    overflow: hidden;
    transform: scale(1.2);
}

#BOTTOM {
    /*gap from top container*/
    margin-top: 180px;
    /*decrease value to slide right*/
    margin-right: 330px;
    float: right;
    box-sizing: border-box;
    display: block;
    width: auto;
    overflow: hidden;
    transform: scale(1.2);
}

#MAIN {
    position: fixed;
    width: 100%;
    margin-top: -220px;
    margin-left: 60px;
    transform: rotate(-17deg);
}

#capture {
    width: 150px;
    height: auto;
    box-sizing: border-box;
    display: block;
    position: fixed;
    bottom: 10px;
    right: 10px;
    opacity: 0.95;
    border-radius: 20px;
    background-color: #ff00ff;
    border: solid 5px wheat;
    padding-left: 30px;
    font-size: 28px;
}